In [34]:
import pandas as pd
from datetime import datetime

import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '../')
import make_report_evolutions as mre

In [31]:
#loading file
df = pd.read_csv('../list_investments/my_list_of_investments.csv', skipinitialspace=True)

#Removing missing time values
df['start_date'] = df['start_date'].fillna(datetime.now())
df['end_date'] = df['end_date'].fillna(datetime.now())

#Fixing data types
df['start_date'] = pd.to_datetime(df['start_date'])
df['end_date'] = pd.to_datetime(df['end_date'])

#Time differences
df['delta_t'] = (df['end_date'] - df['start_date'])#.astype('timedelta64[s]')

In [32]:
df.head()

,coin,amount,type,start_date,end_date,start_value_usd,end_value_usd,start_value_btc,end_value_btc,delta_t
0,BTG,12.0000,bitcoin,2019-04-27 12:00:00,2020-01-19 23:01:32.881673,887.2,NaN,0.1000,NaN,267 days 11:01:32.881673
1,BTC,0.0571,usd,2019-07-11 13:00:00,2019-08-06 00:00:00.000000,653.3,694.03,0.0571,0.0571,25 days 11:00:00

In [14]:
df.dtypes

coin                       object
amount                    float64
type                       object
start_date                 object
end_date                   object
start_value_usd           float64
end_value_usd             float64
start_value_btc           float64
end_value_btc             float64
dtype: object

In [41]:
data  = mre.read_crypto_data('BTC',1000000)[['time_re', 'price_usd', 'price_btc']]

In [42]:
data.head()

      time_re  price_usd  price_btc
0  1571948109    7469.96        1.0
1  1571948411    7468.35        1.0
2  1571948715    7464.74        1.0
3  1571949020    7467.54        1.0
4  1571949321    7466.81        1.0